<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Main</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="theme-light">
    <header class="theme-switcher">
        <button id="light-theme" class="theme-icon" aria-label="Switch to light theme">
            <img src="images/light.png" alt="Light Theme" />
        </button>
        <button id="dark-theme" class="theme-icon" aria-label="Switch to dark theme">
            <img src="images/dark.png" alt="Dark Theme" />
        </button>
    </header>

    <main class="container">
        <section class="form-section">
            <h1>Welcome, <span id="name">...</span>!</h1>
            <p>Your email: <span id="email">...</span></p>
            <p>Your bio:<p id="bio">...</p></p>
            <button id="logout" class="btn">Logout</button>
        </section>
    </main>

    <form id="post">
        <label>Title</label>
        <input type="text" id="title" placeholder="Enter a title" maxlength="256" required/>
        <label>Content</label>
        <textarea rows="5" id="content" placeholder="Enter a content" maxlength="1024" required></textarea>
        <button type="submit">Add Post</button>
    </form>
    
    <script src="js/theme.js"></script>
    <script src="js/main.js"></script>
</body>
</html>